@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .select-Light {
    padding: 0.8rem;
    border: 0.4px solid #1e212d;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
    border: none;
    overflow: hidden;
    width: 100%;
  }

  .select-Dark {
    padding: 0.8rem;
    border: 0.4px solid #1e212d;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 5px;
    outline: none;
    border: none;
    overflow: hidden;
    width: 100%;
    background-color: #353536;
    color: #fff;
  }
  /* test */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  label[for="favcity"] {
    position: relative;
    display: block;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
  }

  label[for="favcity"]::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 4px;
    width: 40px;
    height: 83%;
    display: block;
    background: black
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAAGq7RFVAAAAJ1BMVEX///////////////////////////////////////////////////9Ruv0SAAAADHRSTlMACAoREoKDt7y9zc5qtZoyAAAAcklEQVQIHQXBsQnCUAAFwFOCCKbIABaWERzi1yaFAzmEpHYEC8GUKVQEkbyhvOOkZqdWt0/QYKqLzQeF7dv6y/RLwa2wYtk4Xxxe+t8yd1WuM/rcUc2gYHEeoP02umSgTR50ybBPRuiSZAS6ZAQ4jgCAPyjYJiRH4fymAAAAAElFTkSuQmCC")
      no-repeat center center;
    pointer-events: none;
  }
  label[for="favcity"] select {
    border: 5px solid #eeeeee;
    background: white;
    padding: 7px 20px 7px 20px;
    width: 100%;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    cursor: pointer;
  }

  label[for="favcity"] select::-ms-expand {
    display: none;
  }

  label[for="favcity"] :-moz-any(select) {
    width: 110%;
  }

  label[for="favcity"].ie9 select {
    width: 110%;
  }

  label[for="favcity"] select:focus {
    outline: 1px dotted #a9a9a9;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* test */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  label[for="favcity"] {
    position: relative;
    display: block;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
  }

  label[for="favcity"]::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: block;
    background: black
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAAGq7RFVAAAAJ1BMVEX///////////////////////////////////////////////////9Ruv0SAAAADHRSTlMACAoREoKDt7y9zc5qtZoyAAAAcklEQVQIHQXBsQnCUAAFwFOCCKbIABaWERzi1yaFAzmEpHYEC8GUKVQEkbyhvOOkZqdWt0/QYKqLzQeF7dv6y/RLwa2wYtk4Xxxe+t8yd1WuM/rcUc2gYHEeoP02umSgTR50ybBPRuiSZAS6ZAQ4jgCAPyjYJiRH4fymAAAAAElFTkSuQmCC")
      no-repeat center center;
    pointer-events: none;
  }
  label[for="favcity"] select {
    border: 5px solid #eeeeee;
    background: white;
    padding: 7px 20px 7px 20px;
    width: 100%;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    cursor: pointer;
  }

  label[for="favcity"] select::-ms-expand {
    display: none;
  }

  label[for="favcity"] :-moz-any(select) {
    width: 110%;
  }

  label[for="favcity"].ie9 select {
    width: 110%;
  }

  label[for="favcity"] select:focus {
    outline: 1px dotted #a9a9a9;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 3900px) {
  .select-Light {
    border: 0.4px solid #1e212d;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    overflow: hidden;
    padding: 0.3rem 0.1rem;
    width: 70%;
  }
  .select-Dark {
    padding: 0.3rem 0.1rem;
    border: 0.4px solid #1e212d;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
    border: none;
    overflow: hidden;
    width: 70%;
    background-color: #353536;
    color: #fff;
  }

  /* test */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  label[for="favcity"] {
    position: relative;
    display: block;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
  }

  label[for="favcity"]::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: block;
    background: black
      url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOBAMAAAGq7RFVAAAAJ1BMVEX///////////////////////////////////////////////////9Ruv0SAAAADHRSTlMACAoREoKDt7y9zc5qtZoyAAAAcklEQVQIHQXBsQnCUAAFwFOCCKbIABaWERzi1yaFAzmEpHYEC8GUKVQEkbyhvOOkZqdWt0/QYKqLzQeF7dv6y/RLwa2wYtk4Xxxe+t8yd1WuM/rcUc2gYHEeoP02umSgTR50ybBPRuiSZAS6ZAQ4jgCAPyjYJiRH4fymAAAAAElFTkSuQmCC")
      no-repeat center center;
    pointer-events: none;
  }
  label[for="favcity"] select {
    border: 5px solid #eeeeee;
    background: white;
    padding: 7px 20px 7px 20px;
    width: 100%;
    font-size: 18px;
    font-family: "Cabin", sans-serif;
    cursor: pointer;
  }

  label[for="favcity"] select::-ms-expand {
    display: none;
  }

  label[for="favcity"] :-moz-any(select) {
    width: 110%;
  }

  label[for="favcity"].ie9 select {
    width: 110%;
  }

  label[for="favcity"] select:focus {
    outline: 1px dotted #a9a9a9;
  }
}
