@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media screen and (min-device-width: 1200px) and (max-device-width: 3900px) {
  .details--container {
    width: 100%;
    background-color: #f6f6f6;
    font-family: "Cabin", sans-serif;
  }
  .details--wrapper {
    display: flex;
  }
  .back__button {
    padding: 3.5rem 0px 0px 4rem;
    margin-left: 1.2rem;
    width: 170px;
  }
  .btn {
    background-color: #fff;
    width: 130px;
    text-align: center;
    height: 40px;
    padding: 7px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .details--body {
    display: flex;
  }
  .details--flag {
    margin-left: 1.2rem;
    padding: 4rem;
  }
  .details--flag--img {
    width: 650px;
    height: 410px;
  }
  .details--info {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    flex-direction: column;
    padding: 1.9rem;
    width: 40vw;
    margin-top: 0.4rem;
    /* height: 200px; */
  }
  .details--info--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .details--info--child--one {
    /* margin: 1.7rem; */
    /* background-color: red; */
  }
  .details--info--child--two {
    /* background-color: blue; */
    padding-bottom: 1.3rem;
  }
  .item--name {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .country--borders--section {
    padding: 1.2rem 0px;
  }
  .country--border {
    margin: 0.3rem;
    border: 2px solid rgba(81, 85, 104, 0.2);
    padding: 7px 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
