@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }

  /* styles for countries component */
  .countries-container {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    font-family: "Cabin", sans-serif;
  }
  .countries-wrapper {
    width: 85%;
  }
  a {
    color: black;
    text-decoration: none;
  }

  /* styles for country component */
  .country--container-Light {
    width: 290px;
    height: 390px;
    background-color: #f6f6f6;
    margin: 1.6rem 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.25s linear;
  }

  .country--container-Dark {
    width: 290px;
    height: 390px;
    background-color: #222831;
    color: #fff;
    margin: 1.6rem 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3.6px;
    transition: all 0.25s linear;
  }

  .img--container {
    width: 100%;
    height: 200px;
  }
  .country--body {
    padding: 2rem 1.4rem 1.2rem;
  }
  .country--name-Light {
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: black;
  }

  .country--name-Dark {
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
  }
  .country--span {
    font-size: 1.1rem;
    font-weight: lighter;
  }
  .country--desc {
    font-size: 1.15rem;
    font-weight: 650;
  }
}
/* tablet view */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* styles for countries component */
  .countries-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 150px;
    justify-content: center;
    font-family: "Cabin", sans-serif;
  }
  .countries-wrapper {
    width: 96%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  a {
    text-decoration: none;
  }

  /* styles for country component for light and Dark mode*/
  .country--name-Dark {
    text-decoration: none;
    color: #fff;
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.25s linear;
  }
  .country--name-Light {
    text-decoration: none;
    color: #000;
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.25s linear;
  }

  .country--container-Light {
    width: 290px;
    height: 390px;
    background-color: #f6f6f6;
    margin: 1.3rem;
    flex: 1 0 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .country--container-Dark {
    /* width: 290px; */
    height: 390px;
    background-color: #0f1123;
    color: #fff;
    margin: 1.5rem;
    flex: 1 0 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .img--container {
    width: 100%;
    height: 200px;
  }
  .img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  .country--body {
    padding: 2rem 1.4rem 1.2rem;
  }

  .country--span {
    font-size: 1.07rem;
    font-weight: lighter;
  }
  .country--desc {
    font-size: 1.15rem;
    font-weight: 650;
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1900px) {
  /* styles for countries component */
  .countries-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 150px;
    justify-content: center;
    font-family: "Cabin", sans-serif;
  }
  .countries-wrapper {
    width: 91%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  a {
    text-decoration: none;
  }

  /* styles for country component for light and Dark mode*/
  .country--name-Dark {
    text-decoration: none;
    color: #fff;
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.25s linear;
  }
  .country--name-Light {
    text-decoration: none;
    color: #000;
    font-size: 1.29rem;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all 0.25s linear;
  }

  .country--container-Light {
    /* width: 290px; */
    height: auto;
    background-color: #f6f6f6;
    margin: 1.3rem;
    flex: 1 0 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .country--container-Dark {
    /* width: 290px; */
    height: auto;
    background-color: #0f1123;
    color: #fff;
    margin: 1.5rem;
    flex: 1 0 20%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .img--container {
    width: 100%;
    height: 200px;
  }
  .img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  .country--body {
    padding: 2rem 1.4rem 1.2rem;
  }

  .country--span {
    font-size: 1.07rem;
    font-weight: lighter;
  }
  .country--desc {
    font-size: 1.15rem;
    font-weight: 650;
  }
}
